#footerHorzRule {
    padding-left:10%;
    padding-right:10%;
}

div.outer-contact-box {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

div.inner-contact-box {
    display: inline-block;
    text-align: left;
}

table.contact-box {
    width: 100%;
}

img.author-img {
    width: 220px;
    margin-top: 3%
}

div.content-panel {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
}

nav.nav-padding {
    padding-left: 10%;
    padding-right: 10%;
}

a.font-normal {
    font-weight: normal;
}

p.gray-fg {
    color: #777;
}

div.info-box {
    padding-top: 4rem;
    padding-right: 10%;
    padding-bottom: 4rem;
    padding-left: 10%;
    background-color: #e9ecef;
    font-size:larger;
}

p.info-box-text {
    text-align: justify;
    text-justify: inter-word;
}

img.info-box-img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:100%;
    max-width:15em;
}

div.long-content {
    padding-left: 2%;
    padding-right: 2%;
}

div.tabular-content-padding {
    padding-left: 15vw;
    padding-right: 15vw;
}

#info-column-text {
    width: 75%;
}

#info-column-image {
    width: 25%;
}
/*
.footer {
    bottom: 0;
    position: absolute;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
*/

/*
 * CSS for collapsing description text
 */
#textarea {
    /* hide by default: */
    display: none;
}

/* when the checkbox is checked, show the neighbouring #textarea element: */
#textAreaToggle:checked + #textarea {
    display: block;
}

/* position the checkbox off-screen: */
input[type="checkbox"] {
    position: absolute;
    left: -1000px;
}

/* Aesthetics only, adjust to taste: */
label {
    display: block;
}

/* when the checkbox is unchecked (its default state) show the text
   'Show ' in the label element: */
#textAreaToggle + #textarea + label::before {
    content: 'Show more';
}

/* when the checkbox is checked 'Hide ' in the label element; the
   general-sibling combinator '~' is required for a bug in Chrome: */
#textAreaToggle:checked ~ #textarea + label::before {
    content: 'Show less';
}
